# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bWFpbi1zaGVlcC02OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_Xiqe6S4SKHWaW55HBiUdspFcn0vuWhpGJzgutInEJT

NEXT_PUBLIC_CLERK_TELEMETRY_DISABLED=1

DATABASE_URL="postgresql://neondb_owner:npg_TaVEWuLIM5P7@ep-dark-glade-aot1fg0y-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

DIRECT_URL="postgresql://neondb_owner:npg_TaVEWuLIM5P7@ep-dark-glade-aot1fg0y.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

INNGEST_EVENT_KEY="eFNubRh59u4xJ8lzpYnE31zyNOjNHUQYgJEjMPVoAyEVGgmKuerLGURS1rdEyoB87XPHZraYHssW4LcKi2WDQA"
INNGEST_SIGNING_KEY="signkey-prod-e41cdfc89f136ea2a7a3ae4bfdb3b03507b18eb7159fe22599644672a71e1de4"

