# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = ''


NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_TELEMETRY_DISABLED=

DATABASE_URL=

DIRECT_URL=
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=

